body {
	background:$offwhite;
}
#header {
	background: $green;
	width:100%;
	.headwrap {
		@include clearfix;
		margin:0 auto;
		max-width:960px;
		padding:15px 0 10px;
		width:100%;
	}
	h1 {
		float:left;
		font-weight:normal;
		line-height:1;
		a {
			@include nounderline;
			color:#fff;
			display:block;
			font-size:30px;
			text-shadow:0 2px 0 #000;
			.first-name {
				@include lora;
				font-style:italic;
				font-weight:bold;
				text-transform: uppercase;
			}
			.last-name {
				@include typewriter;
				text-transform:lowercase;
			}
			&:hover, &:focus {
				color:$offwhite;
			}
		}
	}
}
#social {
	float:right;
	padding:5px 0 0;
	text-align:right;
	ul {
		li {
			display:inline-block;
			&:first-child {
				margin-right:5px;
			}
			a {
				@include nounderline;
				display:block;
			}
		}
	}
}
#main {
	@include lora;
	margin:0 auto;
	max-width:960px;
	width:100%;
}
#main-nav {
	float:left;
	max-width:160px;
	padding:20px 0 0;
	width:100%;
	ul {
		li {
			display:block;
			a {
				@include typewriter;
				@include nounderline;
				color:$darkgray;
				display:block;
				font-size:20px;
				line-height:1;
				padding:5px 10px 3px;
				text-transform:lowercase;
				&:hover {
					background-color:$red;
					color:#fff;
				}
			}
			&.active {
				a {
					background-color:$red;
					color:#fff;
				}
			}
		}
	}
}
#content {
	background:#fff;
	float:right;
	max-width:800px;
	padding:20px 0;
	width:100%;
}
#footer {
	@include sidepad;
	clear:both;
	color:$medgray;
	font-size:12px;
	line-height:16px;
	margin:10px auto;
	max-width:320px;
	text-align:center;
}
a {
	color:$red;
	&.btn {
		@include nounderline;
		background-color:$green;
		border:2px solid $darkgray;
		border-radius:20px;
		color:#fff;
		display:inline-block;
		font-size:16px;
		font-weight:bold;
		line-height:1;
		padding:10px 20px;
		-webkit-box-shadow:0 2px 0 $darkgray;
		box-shadow:0 2px 0 $darkgray;
		&.secondary {
			background-color:$medgray;
			&:hover, &:focus {
				background-color:$red;
			}
		}
		&.blue {
			background-color:$twitterblue;
			img {
				height:16px;
				vertical-align: top;
				width:20px;
			}
		}
		&:hover, &:focus {
			background-color:$red;
			color:#fff;
		}
		@media all and (max-width:599px) {
			padding:7px 15px;
		}
	}
	&:hover, &:focus {
		color:$medgray;
	}
}
img {
	&.bigpic {
		display:block;
		height:auto;
		margin:0 auto;
		max-width:100%;
	}
}
.sr-only {
	overflow:hidden;
	position:absolute;
	left:-9999px;
	top:-9999px;
}
.alignleft {
	@include clearfix;
	float:left;
	padding:10px;
}
.alignright {
	@include clearfix;
	float:right;
	padding:10px;
}
.aligncenter {
	display:block;
	margin:0 auto;
	text-align:center;
}
blockquote {
	@include lora;
	@include mid500;
	color:$medgray;
	font-size:18px;
	font-style:italic;
	line-height:27px;
	padding:20px 6%;
	quotes: "\201C""\201D""\2018""\2019";
	&:before, &:after {
		color:$green;
		font-size:40px;
		font-weight:bold;
		line-height:10px;
		vertical-align: -15px;
	}
	&:before {
		content: open-quote;
		margin-right:10px;
	}
	&:after {
		content:close-quote;
		margin-left:10px;
	}
	p {
		display:inline;
	}
}
nav.page-nav {
	@include clearfix;
	background-color:#444;
	color:$offwhite;
	padding:20px;
	.prev {
		float:left;
		width:49%;
	}
	.next {
		float:right;
		margin-left:2%;
		text-align:right;
		width:49%;
	}
	a {
		@include nounderline;
		background:#fff;
		border:2px solid $darkgray;
		border-radius:15px;
		color:$darkgray;
		display:inline-block;
		font-size:14px;
		font-weight:bold;
		line-height:20px;
		padding:5px 15px;
		-webkit-box-shadow:0 3px 0 $darkgray;
		box-shadow:0 3px 0 $darkgray;
		&:hover, &:focus {
			background-color:$red;
			color:#fff;
		}
	}
}
hr {
	border-color:$litegray transparent transparent;
	border-style:solid;
	border-width:1px 0 0;
	margin:20px auto 10px;
	max-width:500px;
}
.return-link {
	padding:5px 0;
	text-align: center;
}
.about-rf {
	color:$medgray;
	font-size:14px;
	line-height:20px;
	padding:10px 0;
}
.tweet-link {
	padding:0 0 20px;
	text-align:center;
}