#homepage {
	article.intro {
		@include mid500;
		h2 {
			@include typewriter;
			color:$darkgray;
			font-size:26px;
			line-height: 30px;
			padding:20px 0 10px;
			text-align: center;
			@media all and (max-width:599px) {
				font-size:22px;
				line-height:26px;
			}
		}
		p {
			@include lora;
			font-size:16px;
			line-height:24px;
		}
		.button-row {
			padding:10px 0 20px;
			text-align:center;
		}
		&.art-item {
			border-top:none;
			padding:0;
			@media all and (max-width:599px) {
				margin:0;
			}
		}
		&.blog-item {
			border-top:none;
			padding:0;
			h3 {
				text-align:center;
			}
			@media all and (max-width:599px) {
				margin:0;
				h3 {
					font-size:18px;
					line-height:24px;
				}
			}
		}
	}
	#home-recent {
		@include clearfix;
		background:$xlitegray;
		border-top:1px solid $litegray;
		.the-latest {
			padding:10px;
			width:50%;
			&.recent-art {
				border-right:1px solid $litegray;
				float:left;
			}
			&.recent-blog {
				float:right;
				@media all and (max-width:599px) {
					border-top:1px solid $litegray;
				}
			}
			@media all and (max-width:599px) {
				border-right:none;
				float:none;
				width:100%;
			}
			h2 {
				@include typewriter;
				color:$darkgray;
				font-size:20px;
				text-align:center;
				a {
					color:$darkgray;
					&:hover, &:focus {
						color:$red;
					}
				}
				@media all and (max-width:599px) {
					font-size:22px;
					line-height:26px;
				}
			}
			.blog-item {
				border-top:medium none;
				a.blog-thumb {
					border-color:$xlitegray;
					&:hover, &:focus {
						border-color:$red;	
					}
				}
			}
		}
	}
}