#homepage {
	#intro-wrap {
		@include clearfix;
		padding:0 10px;
	}
	#home-photo {
		float:left;
		width:33.8%;
		img {
			max-width:100%;
		}
	}
	article.intro {
		float:right;
		padding-left:10px;
		width:66.1%;
		h2 {
			@include typewriter;
			color:$darkgray;
			font-size:26px;
			line-height: 30px;
		}
		p {
			@include lato;
			font-size:16px;
			line-height:24px;
		}
		.button-row {
			padding:10px 0 0;
			text-align:center;
		}
	}
	#home-recent {
		@include clearfix;
		padding: 20px 0;
		.the-latest {
			padding:10px;
			width:50%;
			&.recent-art {
				float:left;
			}
			&.recent-blog {
				float:right;
			}
			h2 {
				@include typewriter;
				color:$darkgray;
				font-size:20px;
				a {
					color:$darkgray;
					&:hover, &:focus {
						color:$red;
					}
				}
			}
			.blog-item {
				margin-top: 0;
			}
		}
	}
}